script(type='text/javascript', src='/js/templates.js')
script(type='text/javascript', src='/js/scripts.min.js')
if 'development' === env
	script(type='text/javascript', src='//localhost:35729/livereload.js')
