.pure-menu.pure-menu-open.pure-menu-horizontal
	ul
		li.pure-menu-disabled(data-cmd='canvas-draw')
			a(href='javascript:;')
				i.fa.fa-pencil
				|  Draw
		li.pure-menu-disabled(data-cmd='canvas-erase')
			a(href='javascript:;')
				i.fa.fa-eraser
				|  Erase
		li.pure-menu-disabled.pull-right(data-cmd='canvas-clear')
			a(href='javascript:;') 
				i.fa.fa-eraser
				|  Clear
		li.pure-menu-disabled.pull-right(data-cmd='add-field')
			a(href='javascript:;') 
				i.fa.fa-plus
				|  Field
		li.pure-menu-disabled.pull-right(data-cmd='add-player')
			a(href='javascript:;') 
				i.fa.fa-plus
				|  Player
