<div class='pure-menu pure-menu-open pure-menu-horizontal'>
	<ul>
		<li class='pull-left map-toggle map-edit'>
			<a href='javascript:;'>
				<i class='fa fa-pencil'></i> Edit Map
			</a>
		</li>
		<li class='pull-left map-toggle map-set'>
			<a href='javascript:;'>
				<i class='fa fa-save'></i> Set Map
			</a>
		</li>
		<li class='pull-left map-locate map-locate-gps'>
			<a href='javascript:;'>
				<i class='fa fa-crosshairs'></i>
			</a>
		</li>
		<li class='pull-left map-locate map-locate-default'>
			<a href='javascript:;'>
				<i class='fa fa-dot-circle-o'></i>
			</a>
		</li>
		<li class='pull-left map-rotate map-rotate-l'>
			<a href='javascript:;'>
				<i class='fa fa-rotate-left'></i>
			</a>
		</li>
		<li class='pull-left map-rotate map-rotate-r'>
			<a href='javascript:;'>
				<i class='fa fa-rotate-right'></i>
			</a>
		</li>
		<li class='pull-right canvas-clear'>
			<a href='javascript:;'>
				<i class='fa fa-eraser'></i> Clear
			</a>
		</li>
	</ul>
</div>
