<div class='pure-menu pure-menu-open pure-menu-horizontal'>
	<ul>
		<li class='pull-right canvas-clear'>
			<a href='javascript:;'>
				<i class='fa fa-eraser'></i> Clear
			</a>
		</li>
	</ul>
</div>
