<fieldset class='pure-group'>
	<input class='number pure-input-1' name='player[number]' id='player_number' value='<%- data.number %>' />
	<input class='name pure-input-1' name='player[name]' id='player_name' value='<%- data.name %>' />
</fieldset>
<fieldset class='pure-group'>
	<a href='javascript:;' class='pure-button player-queue'>
		<i class='fa fa-save'></i> Save
	</a>
</fieldset>
<fieldset class='pure-group'>
	<a href='javascript:;' class='pure-button player-cancel'>
		<i class='fa fa-times'></i> Cancel
</a>
</fieldset>
